.button {
  padding: 8px 15px;
  height: 40px;
  width: 94px;
  background-color: #F0DA7D;
  color: #000;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #877628;
}